
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@500&family=Josefin+Sans:ital,wght@1,300&family=Rowdies:wght@700&family=Teko:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Josefin+Sans:ital,wght@1,300&family=Rowdies:wght@700&family=Teko:wght@500;600&display=swap');

*:not(.heading){
    margin:0px;
    padding:0px;
    box-sizing: border-box;
   
    
}
body{
    text-align: center;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
    
}
.image_container {
    max-width: 100%;
    height: 300px; 
    overflow: hidden;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  
.container{
    background: palevioletred;
    width: 90vb;
    height: 87vh;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 4px;

}
.heading{
    font-family: 'Dosis', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Rowdies', cursive;
font-family: 'Teko', sans-serif;
font-size: large;
}
.dropdown_container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 8px;
    height: 60px;
}
.dropdown{
    width: 250px;
    margin-top: 2px;
    position: relative;
    height: 50px;
    
}
.dropdown input{
    position: relative;
    top: 0px; 
    text-align: center;
    left: 0px;
    width: 65%;
    height: 35%;
    
    cursor: pointer;
    padding: 12px 20px;
    
    background:wheat;
    border: 2px solid black;

    border-radius: 10px;
    outline: none;
    

}
.dropdown.active::before{

    transform: rotate(-225deg);
    top: 12px;
}
.dropdown.active .opt {
    display: block !important; 
  }
.dropdown::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 135px;
    top: 50px;
    height: 7px;
    width: 7px;
    
    top: 6px;
    z-index: 1000;
    border: 2px solid black;
    border-top: 2px solid wheat;
    border-right: 2px solid wheat;

    transform: rotate(-45deg);
      transition: 0.5s;
      pointer-events: none; 
      
}
.dropdown .opt{
    
    position: absolute;
    display: none;
    top: 40px;
    width: 65%;
   
    overflow: hidden;
    border-radius: 10px;
    background:wheat;
    text-align: center;
    
}
.dropdown .opt div{
    padding: 7px 10px;
    cursor: pointer;
    font-size: medium;

    
}

.textbox::placeholder {
    color: #000000; 
    font-size: small;
    font-style: italic; 
  }
  

.dropdown .opt div:hover{
    
    background: aquamarine;
    color: black  ;
    font-size: 16px; 
  color: #333; 
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
    
}
.chooseimage{
    width: 100px;
    margin-top: 1px;
    position: relative;
    height: 27px;
    
    border-radius: 10px;
    background: wheat;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}
.saveimage{
    width: 100px;
    margin-top: 1px;
    position: relative;
    height: 26.5px;
    background: wheat;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    


}
.slider_container{
    display: flex;
    margin-left: 9px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
 align-items: start;

}
.details{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 2px;
}
.filterinfo{
    width: 100%;
   padding: 6px;
    border: 0.5px solid black;
}
.filterinfo .details{
    font-size: larger;
    font-family: 'Anton', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Rowdies', cursive;
font-family: 'Teko', sans-serif;
}
.filterinfo input{
    width: 500px;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.reset{
    margin-top: 0px;
}
.foot .reset button.resetbtn {
    width: 100px; 
    height: 32px;
    border-radius: 10px;
    background: wheat;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    outline: none;
    cursor: pointer;
  }
  .foot .ops button {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    background: wheat;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    margin-right: 10px; 
  }
  .foot .ops {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
  